@{
    ViewBag.Title = "Home Page";

}
<link style="stylesheet" href="~/Views/Home/HomeDesign/indexDesign.css">


<body>
    <div>
        <img src="~/Images/logoLion.png" />
        <div style=" text-align: center; ">
            <img src="~/Images/Banner.gif" />
        </div>
        <img src="~/Images/logoLion.png" />
    </div>
    <div style="width: 350px; float:left; height: 100%;">@RenderPage("~/Views/Post/Create.cshtml")</div>
    <div style="margin-left: 350px;">@{Html.RenderAction("Index", "Post"); }</div>


     </body>